<h1>Hello World Widget</h1>
<div>Hello {{scopes.name}} !</div>
<div>Your navpoint is @:
	<a href="{{scopes.navpoint}}"target="_blank">
		Go to Navpoint
	</a>
</div>
<div>you are an adult, right? : {{scopes.adult}} !</div>
